<h1>Job Title: <%= @job.title %></h1>

<ul>
  <li>Description: <%= @job.description %></li>
  <li>Level of Interest: <%= @job.level_of_interest %></li>
  <li>City: <%= @job.city %></li>
  <li>
    Tags:
    <% @job.tags.order(:title).each do |tag| %>
      <%= link_to tag.title, tag_path(tag) %>
    <% end %>
  </li>
  <li>Category: <%= link_to @job.category.title, category_path(@job.category) %></li>
  <li>Company: <%= link_to @job.company.name, company_path(@job.company) %></li>
</ul>

<%= link_to "Edit", edit_company_job_path(@job.company, @job) %>

<%= link_to "Back to #{@job.company.name}'s Jobs", company_path(@job.company) %>

<h2>Comments (<%= @job.comments.count %>)</h2>

<%= render partial: 'jobs/comment', collection: @job.comments.reverse %>

<%= render partial: 'comments/form' %>
