<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand -->
        <div class="navbar-header">
         <a class="navbar-brand" href="/">Job Tracker</a>
       </div>

        <!-- Menu Items -->
        <div>
          <ul class="nav navbar-nav navbar-right">

            <!-- Companies Dropdown -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Companies<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-font">
                  <%= link_to "All Companies", companies_path %>
                </li>
                <li class="dropdown-font">
                  <%= link_to "Add New Company", new_company_path %>
                </li>
              </ul>
            </li>

            <!-- Categories Dropdown -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-font">
                  <%= link_to "All Categories", categories_path %>
                </li>
                <li class="dropdown-font">
                  <%= link_to "Add New Category", new_category_path %>
                </li>
              </ul>
            </li>

            <!-- Jobs Dropdown -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-font">
                  <%= link_to "All Jobs", jobs_path %>
                </li>
                <li class="dropdown-font">
                  <%= link_to "Job Dashboard", dashboard_index_path %>
                </li>
              </ul>
            </li>

            <!-- Tags Dropdown -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tags<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-font">
                  <%= link_to "All Tags", tags_path %>
                </li>
                <li class="dropdown-font">
                  <%= link_to "Add New Tag", new_tag_path %>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </nav>

  <%= yield %>

</body>
</html>
